In [1]:
import numpy as np
print(np.__version__)

1.24.4

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport

c:\Users\Hp\miniconda3\envs\plot_env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df=pd.read_csv(r'../Datasets/titanic_train.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
report = ProfileReport(df, title="Test Report", explorative=True)
report.to_file("output_report.html")

100%|██████████| 12/12 [00:00<00:00, 20.24it/s]0<00:00, 16.56it/s, Describe variable: Embarked]
Summarize dataset:  74%|███████▎  | 14/19 [00:00<00:00, 16.56it/s, Calculate auto correlation] c:\Users\Hp\miniconda3\envs\plot_env\lib\site-packages\ydata_profiling\model\correlations.py:87: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'putmask() argument 1 must be numpy.ndarray, not Series')
  warnings.warn(
Summarize dataset: 100%|██████████| 47/47 [00:13<00:00,  3.52it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:14<00:00, 14.06s/it]
Render HTML: 100%|██████████| 1/1 [00:03<00:00,  3.05s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  2.67it/s]