In [1]:
print("all ok")

all ok

In [2]:
import pandas as pd

df=pd.read_csv(r'../Datasets/Car Price.csv')

In [3]:
df.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [10]:
len(df['Model'].unique())

1491

In [16]:
df.shape

(4340, 9)

In [17]:
new_df=pd.get_dummies(df,columns=['Fuel','Owner'],dtype=int)
new_df.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Seller_Type,Transmission,Fuel_CNG,Fuel_Diesel,Fuel_Electric,Fuel_LPG,Fuel_Petrol,Owner_First Owner,Owner_Fourth & Above Owner,Owner_Second Owner,Owner_Test Drive Car,Owner_Third Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Individual,Manual,0,0,0,0,1,1,0,0,0,0
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Individual,Manual,0,0,0,0,1,1,0,0,0,0
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Individual,Manual,0,1,0,0,0,1,0,0,0,0
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Individual,Manual,0,0,0,0,1,1,0,0,0,0
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Individual,Manual,0,1,0,0,0,0,0,1,0,0

In [18]:
new_df.shape

(4340, 17)

In [14]:
new_df=pd.get_dummies(df,columns=['Fuel','Owner'],dtype=int,drop_first=True)
new_df.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Seller_Type,Transmission,Fuel_Diesel,Fuel_Electric,Fuel_LPG,Fuel_Petrol,Owner_Fourth & Above Owner,Owner_Second Owner,Owner_Test Drive Car,Owner_Third Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Individual,Manual,0,0,0,1,0,0,0,0
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Individual,Manual,0,0,0,1,0,0,0,0
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Individual,Manual,1,0,0,0,0,0,0,0
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Individual,Manual,0,0,0,1,0,0,0,0
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Individual,Manual,1,0,0,0,0,1,0,0

In [15]:
new_df.shape

(4340, 15)

### OHE using sklearn library

In [22]:
x=df.drop('Selling_Price',axis=1)
y=df['Selling_Price']

In [23]:
x.head()

,Brand,Model,Year,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,141000,Diesel,Individual,Manual,Second Owner

In [25]:
x_train['Transmission'].value_counts()

Transmission
Manual       3115
Automatic     357
Name: count, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=27)

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
ohe=OneHotEncoder()

In [28]:
x_train_new=ohe.fit_transform(x_train[['Fuel','Transmission']]).toarray()

In [29]:
x_test_new=ohe.transform(x_test[['Fuel','Transmission']]).toarray()

In [30]:
x_train_new

array([[0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       ...,
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.]])

In [32]:
x_train_exist=x_train.drop(['Fuel','Transmission'],axis=1).values

In [33]:
x_train_exist

array([['Honda', 'Honda Jazz 1.2 VX i VTEC', 2018, 9700, 'Dealer',
        'First Owner'],
       ['Hyundai', 'Hyundai EON Magna Plus', 2012, 60000, 'Individual',
        'First Owner'],
       ['Maruti', 'Maruti Wagon R LX BSIII', 2009, 70000, 'Individual',
        'Fourth & Above Owner'],
       ...,
       ['Maruti', 'Maruti Baleno Alpha 1.2', 2017, 52000, 'Dealer',
        'First Owner'],
       ['Ambassador', 'Ambassador CLASSIC 1500 DSL AC', 2005, 50000,
        'Individual', 'Second Owner'],
       ['Maruti', 'Maruti Swift Dzire ZXI', 2013, 50000, 'Individual',
        'First Owner']], dtype=object)

In [34]:
x_train_exist.shape

(3472, 6)

In [35]:
x_train_new.shape

(3472, 7)

In [36]:
import numpy as np

In [40]:
new_x=np.hstack((x_train_exist,x_train_new))

### OHE for top count categories

In [43]:
counts=df['Brand'].value_counts()

In [44]:
threshold=100

In [49]:
repls=counts[counts<=threshold].index

In [50]:
repls

Index(['Skoda', 'Nissan', 'Audi', 'BMW', 'Fiat', 'Datsun', 'Mercedes-Benz',
       'Mitsubishi', 'Jaguar', 'Land', 'Volvo', 'Ambassador', 'Jeep',
       'OpelCorsa', 'MG', 'Force', 'Daewoo', 'Isuzu', 'Kia'],
      dtype='object', name='Brand')

In [53]:
pd.get_dummies(df['Brand'].replace(repls,'Uncommon'),dtype=int)

,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Tata,Toyota,Uncommon,Volkswagen
0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4335,0,0,0,1,0,0,0,0,0,0,0
4336,0,0,0,1,0,0,0,0,0,0,0
4337,0,0,0,0,0,1,0,0,0,0,0
4338,0,0,0,1,0,0,0,0,0,0,0
4339,0,0,0,0,0,0,1,0,0,0,0

### Column Transformer

In [54]:
x.shape

(4340, 8)

In [55]:
x.head()

,Brand,Model,Year,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,141000,Diesel,Individual,Manual,Second Owner

In [63]:
x['Owner'].value_counts()

Owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

In [57]:
x['Seller_Type'].value_counts()

Seller_Type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64

In [58]:
x.isnull().sum()

Brand           0
Model           0
Year            0
KM_Driven       0
Fuel            0
Seller_Type     0
Transmission    0
Owner           0
dtype: int64

In [59]:
from sklearn.impute import SimpleImputer

In [60]:
si=SimpleImputer()

In [61]:
from sklearn.compose import ColumnTransformer

In [62]:
from sklearn.preprocessing import OrdinalEncoder

In [68]:
transformer=ColumnTransformer(
    transformers=[
        ('tf1',OrdinalEncoder(categories=[['Test Drive Car','First Owner','Second Owner','Third Owner','Fourth & Above Owner']]),['Owner']),
        ('tf2',OneHotEncoder(sparse_output=False,drop='first'),['Fuel','Seller_Type','Transmission'])
    ],remainder='passthrough'
)

In [69]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=27)

In [71]:
x_train_new=transformer.fit_transform(x_train)

x_test_new=transformer.transform(x_test)

In [72]:
x_train_new.shape

(3472, 12)

In [73]:
x_train.shape

(3472, 8)