In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [3]:
df=pd.read_csv(r'../Datasets/titanic_train.csv',usecols=['Age','Fare','Pclass','Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [4]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

### KNN- Imputation

In [19]:
knn=KNNImputer(n_neighbors=5,weights='distance')

x_train_trans=knn.fit_transform(x_train)
x_test_trans=knn.transform(x_test)

In [20]:
lr=LogisticRegression()

lr.fit(x_train_trans,y_train)

y_pred=lr.predict(x_test_trans)

print('accuracy_score:',accuracy_score(y_test,y_pred))

accuracy_score: 0.6759776536312849

In [21]:
si=SimpleImputer(strategy='median')

x_train_trans2=si.fit_transform(x_train)
x_test_trans2=si.transform(x_test)

In [22]:
lr=LogisticRegression()

lr.fit(x_train_trans2,y_train)

y_pred=lr.predict(x_test_trans2)

print('accuracy_score:',accuracy_score(y_test,y_pred))

accuracy_score: 0.6703910614525139

#### Iterative Imputation (MICE)